.banner {
  .container {
    @include media-breakpoint-down(md) { 
      padding-bottom: 144px;
    }
    @include media-breakpoint-down(xs) { 
      padding-bottom: 0px;
    }
  }
  &__img {
    background: url(../images/index-1.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 43%;
    position: absolute;
    @include media-breakpoint-down(md) { 
      background-size: contain;
      position: relative;
      margin: 104px auto 24px;
      height: 288px;
    }
    @include media-breakpoint-down(xs) { 
      background-size: cover;
      width: 100%;
      margin: 0 0 12px 0;
      height: 352px;
    }
  }
  &__txt {
    @include media-breakpoint-down(md) { 
      height: initial;
    }
  }
}