.card-img-circle {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.custom-card-img-top {
  padding-top: 128px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  &-sm {
    padding-top: 120px;
  }
}

.custom-card-img-overlay {
  padding-top: 350px;
  @include media-breakpoint-down(md) { 
    padding-top: 210px;
  } 
  @include media-breakpoint-down(sm) { 
    padding-top: 132px;
  } 
  &-sm {
    padding-top: 172px;
    @include media-breakpoint-down(md) { 
      padding-top: 103px;
    } 
    @include media-breakpoint-down(sm) { 
      padding-top: 132px;
    } 
  }
}

.card-img-overlay {
  background: rgba(#000, .4);
  transition: .5s;
  &:hover {
    background: transparent;
  }
}

.card-link:hover {
  background: $warning;
}

.card-group-item {
  display: flex;
  flex-flow: row wrap;
  > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
}
.card-group {
  > .card-group-item:nth-child(odd) {
    @include media-breakpoint-down(sm) { 
      padding-right: calc(15px / 2);
    }
  }
  > .card-group-item:nth-child(even) {
    @include media-breakpoint-down(sm) { 
      padding-left: calc(15px / 2);
    }
  }
}

.card-label {
  width: 128px;
  height: 128px;
  color: $dark;
  cursor: pointer;
  @include media-breakpoint-down(xs) { 
    width: 72px;
    height: 72px;
  }
}
.card-input {
  &:checked + .card-label {
    border: 3px solid $secondary;
    .card-label-icon {
      color: $warning;
    }
    .card-text {
      color: $primary;
    }
  }
}


