.carousel {
  margin-bottom: 188px;
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
  &__item {
    &:last-child img {
      margin-right: 0;
    }
    &__img {
      height: 96px;
      width: 96px;
      margin-right: 8px;     
      @include media-breakpoint-down(md) {
        height: 63px;
        width: 63px;
        margin-right: 6px;
      }
      @include media-breakpoint-down(sm) {
        height: 82px;
        width: 82px;
      }
    }
  }                    
}

.carousel__item--active {
  height: 440px;
  width: 540px;
  @include media-breakpoint-down(md) {
    height: 221px;
    width: 270px;
  }
  @include media-breakpoint-down(sm) {
    height: 282px;
    width: 100%;
  }
}